/*--------------------------------------------------------- Body*/
body {
    height: 100%;
}

/* Keeps footer at bottom of page */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;   /* Footer height */
}

/*--------------------------------------------------------- Header*/

/*--------------------------------------------------------- Section*/

/* Creates backgroud image */
.index-image {
    width: 85%;
    height: 100%;
    margin: 0 0 0 150px;
}

/* Creates backgroud image */
.about-image {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*Allows text to overlay image, uses bootstraps container-fluid */
.container-fluid {
    position: relative;
    text-align: center;
}

/* Text overlay */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Text overlay */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.about-text {
    color: #fff;
}

/*Allows gallery images to be same size */
.gallery-img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin: 4px;
    border: 1px solid #000;
}

/*--------------------------------------------------------- Footer*/

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}

/* Sets spacing between social media links */
.media-links {
    margin-left: 10px;
    margin-right: 10px;
}